{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h1>Créer une nouvelle compétence</h1>

		{{ include('skill/_form.html.twig') }}

		<a href="{{ path('user') }}">Retour à la liste</a>
	</div>
{% endblock %}
