<form method="post" action="{{ path('document_delete', {'id': document.id}) }}" onsubmit="Êtes-Vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ document.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
