{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h1>Modifier les informations</h1>

		{{ include('address/_form_user.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('address') }}">Retour à la liste</a>
	</div>
{% endblock %}